@import "_variables.scss";

//@extend-elements
//original selectors
//.bg-header:before, .bg-header:after
%extend_1 {
	content: "";
	position: absolute;
	bottom: -1rem;
	height: 1rem;
	width: 30%;
	background-color: $dark-green;
}

@mixin border-sizing($bs){
    -webkit-box-sizing:$bs;
    box-sizing: $bs;
}

@mixin colors($val1,$val2){
    background-color: $val1;
    color:$val2;
}

@mixin width-margin ($val1,$val2,$val3){
    width:$val1;
    margin:$val2,$val3;
 @content;
}

@mixin flex-properties($val1,$val2,$val3) {
    
    flex-direction: val1;
    justify-content: val2;
    align-items: val3;
    @content;
}
@mixin width-margin2 ($val1,$val2,$val3,$val4) {
    
    width:$val1;
    margin:$val2,$val3;
    min-height: $val4;
    
    
}
