/***********************************************
                COLOUR NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark green   #3a5E63

light brown #C9A689
dark brown  #7C593C

light grey  #d4d4d4
dark grey   #222
***********************************************/
//colors
$dark-brown: #7c593c;
$light-grey: #d4d4d4;
$white: #fff;
$med-blue: #89c0c9;
$dark-green: #3a5e63;
$light-brown: #c9a689;
$light-blue: #c7f7ff;
$black: #222;
//$white_80: rgba(255,255,255,0.8);

//fonts
$font_0: Josefin Sans;
$font_1: ‘Trebuchet MS’;
$font_2: Helvetica;
$font_3: sans-serif;
$font_4: Cardo;
$font_5: ‘Palatino Linotype’;
$font_6: ‘Book Antiqua’;
$font_7: Palatino;
$font_8: serif;

//urls
$url_imguk: url(../img/uk-icon.png);
$url_imgsv: url(../img/sv-icon.png);
$url_imgpt: url(../img/pt-icon.png);
$url_imgfr: url(../img/fr-icon.png);
$url_imgno: url(../img/no-icon.png);
$url_imghi: url(../img/hi-icon.png);
$url_imgicon: url(../img/es-icon.png);
